<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content">
	<div class="container">
		<h1 class="font-weight-bold pt-3">MEMO 작성하기</h1>
		
		<input type="text" id="subject" class="form-control" placeholder="제목">
		<textarea rows="13" id="content" class="form-control" placeholder="내용을 입력하세요."></textarea><br>
		
		<div class="text-right my-3">
			<input type="file" id="file" accept=".jpg, .png, .gif">
		</div>
		<div class="d-flex justify-content-between">
			<div>
				<button id="postListBtn" class="btn btn-secondary">글 목록</button>
			</div>
			<div>
				<button id="clearBtn" class="btn btn-secondary">본문 지우기</button>
				<button id="saveBtn" class="btn btn-secondary">저장하기</button>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			// 글 목록 버튼 클릭시 화면 이동
			$("#postListBtn").on('click', function() {
				location.href = "/post/post-list-view";
			});
			
			// 본문 모두 지우기
			$("#clearBtn").on('click', function() {
				// alert("본문 지우기");
				$("#subject").val("");
				$("#content").val("");
				$("#file").val("");
				
			});
			
			// 글 저장하기
			$("#saveBtn").on('click', function() {
				//alert("글쓰기");
				let subject = $("#subject").val().trim();
				let content = $("#content").val();
				let fileName = $("#file").val();
				
				if (!subject) {
					alert("제목을 입력하세요.");
					return;
				}
				
				if (!content) {
					alert("내용을 입력하세요.");
					return;
				}
				
				if (fileName) {
					// alert("파일이 있다.");
					// C:\fakepath\gecko-8483282_960_720.png
					let extension = fileName.split(".").pop().toLowerCase();
					console.log(extension);
					
					if ($.inArray(extension, ["jpg", "gif", "png"]) == -1) {
						alert("이미지 파일만 업로드할 수 있습니다.");
						$("#file").val(""); // 파일을 비운다.
						return;
					}
				}
					
				console.log(subject);
				console.log(content);
				
				// formData
				let formData = new FormData();
				
				formData.append("subject", subject);
				formData.append("content", content);
				formData.append("file", $("#file")[0].files[0]);
				
				$.ajax ({
					// request
					type:"post"
					, url :"/post/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData : false
					, contentType : false
					
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("메모가 저장되었습니다");
							
							// 글 목록 화면으로 이동
							location.href = "/post/post-list-view";
						} else {
							alert(data.error_message);
						}
					}	
					, error:function(e) {
						alert("글을 저장하는데 실패했습니다.");
					}			
				}); 
				
			});
		});
	</script>
</th:block>	
</html>