<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content">
	<div class="container">
		<h1 class="font-weight-bold pt-3">MEMO 상세</h1>
		
		<input type="text" id="subject" th:value="${post.subject}" class="form-control" placeholder="제목">
		<textarea rows="13" id="content" th:text="${post.content}" class="form-control" placeholder="내용을 입력하세요."></textarea><br>
		
		<!-- 이미지가 있을 때에만 영역 노출 -->
		<div class="my-3" th:if="${post.imagePath != null}">
			<img th:src="${post.imagePath}" alt="본문 이미지" width="300">
		</div>
		
		<!-- 로그인한 유저와 글쓴이가 같은 경우에만 글을 수정할 수 있음 -->
		<div th:if="${post.userId == session.userId}" class="text-right my-3">
			<input type="file" id="file" accept=".jpg, .png, .gif">
		</div>
		<div class="d-flex justify-content-between">
			<div>
				<button id="postListBtn" class="btn btn-secondary">글 목록</button>
			</div>
			<div th:if="${post.userId == session.userId}">
				<button id="clearBtn" class="btn btn-secondary">삭제하기</button>
				<button id="saveBtn" class="btn btn-secondary">수정하기</button>
			</div>
		</div><hr>
		
		<div class="card-comment-list">
			<!-- 쓰여진 모든 댓글 영역 -->
			<div class="card-comment m-1" th:each="commentView : ${cardView.commentList}">
				<span class="font-weight-bold" th:text="${commentView.user.loginId}">댓글쓰니</span>
				<span th:text="${commentView.comment.content}">댓글 내용임</span>
						
				<!-- 댓글 삭제(자신의 댓글만 가능) -->
				<a href="#" class="comment-del-btn" th:if="${session.userId == commentView.comment.userId}" th:data-comment-id="${commentView.comment.id}">
					<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
				</a>
			</div>
			
			
			<!-- 댓글 작성 영역 (로그인되어 있는 경우에만 댓글 쓰는 기능이 활성화됨) -->
			<div class="d-flex" th:if="${session.userId != null}">
				<input type="text" id="comment" class="form-control" placeholder="댓글을 입력하세요.">		
				<a id="commentBtn" href="#">
					<img src="/img/blue-arrow-icon.png" alt="댓글 업로드 버튼" width="38px">
				</a>
			</div>
		</div>
		
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function () {
			// 글 수정
			$("#saveBtn").on('click', function() {
				//alert("글 수정");
				let postId = $(this).data("post-id");
				//alert(postId);
				
				let subject = $("#subject").val().trim();
				let content = $("#content").val();
				let fileName = $("#file").val();
				
				if (!subject) {
					alert("제목을 입력하세요!");
					return;
				}
				
				if (!content) {
					alert("내용을 입력하세요!");
					return;
				}
				
				if (fileName) {
					let extension = fileName.split(".").pop().toLowerCase();
					console.log(extension);
				
					if ($.inArray(extension, ["jpg", "gif", "png"]) == -1) {
						alert("이미지 파일만 업로드할 수 있습니다.");
						$("#file").val("");
						return;
					}
				}
				
				console.log(subject);
				console.log(content);
				
				// form 
				let formData = new FormData();
				formData.append("postId", postId);
				formData.append("subject", subject);
				formData.append("content", content);
				formData.append("file", $("#file")[0].files[0]);
				
				
				// AJAX
				$.ajax({
					// request
					type:"put"
					, url:"/post/update"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("메모가 수정되었습니다.");
							location.reload();
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("글을 저장하는데 실패했습니다.");
					}
				});
			});
			
			// 글 삭제
			$("#deleteBtn").on('click', function() {
				let postId = $(this).data("post-id");
				alert(postId);
			});
			
			$("#postListBtn").on('click', function() {
				location.href = "/post/post-list-view";
			});
		});
	</script>
</th:block>

</html>