<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content">

<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>글 번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성날짜</th>
				<th>댓글 수</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="post : ${postList}">
				<td th:text="${post.id}"></td>
				<td><a th:href="|/post/post-detail-view?postId=${post.id}|" th:text="${post.subject}" id="title"></a></td>
				<td th:text="${session.loginId}"></td>
				<td th:text="${#temporals.format(post.createdAt, 'yyyy년 M월 d일')}"></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-info" id="postCreateBtn">글 작성하기</button><br><br>
</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			// 글 작성하기 버튼
			$("#postCreateBtn").on('click', function() {
				//alert("글 작성버튼");
				let userId = "${session.userId}";
				if (!userId) {
					location.href="post-create-view";					
				} else {
					alert("로그인을 한 후 이용가능합니다.");
					location.href="user/sign-in-view";
				}
			});
		});
	</script>
</th:block>
</html>