<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="content">
<div class="d-flex">
	<div class="loginSection">
		<div id="smallSignInBox" class="border border-success">
			<!-- 비로그인 상태이면  -->
			<form th:if="${session.userId == null}" id="loginForm" action="/user/sign-in" method="post"> 
				<div id="smallSignIn" class="my-5 w-100">
					<div class="d-flex">
						아이디 <input id="loginId" type="text" name="loginId" class="loginIdBox rounded-top ml-4">
					</div>
					<div class="passwordBox d-flex">
						비밀번호 <input id="password" type="password" name="password" class="rounded-bottom ml-2">
					</div>		
				</div>
				<div class="buttons d-flex w-100">
					<button type="submit" id="smallSignInBtn" class="btn btn-success font-weight-bold">로 그 인</button>
					<button type="submit" id="smallSignUpBtn" class="btn btn-info font-weight-bold">회원가입</button>
				</div>
			</form>
			<div th:if="${session.userId != null}" id="myPage">
				<h5 id="myPageBox" class="rounded font-weight-bold ml-5" th:text="${session.userName} + '님 환영합니다!'"></h5>
			</div>
			<a href="/user/my-page-view"><button id="myPageBtn" th:if="${session.userId != null}" class="btn btn-info">마이페이지</button></a>
		</div>
	</div>
	<div class="container">
		<div class="rounded">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th class="align-middle">비밀번호 확인</th>
						<td>
							<div class="d-flex">
								<div class="w-100">
									<input type="password" id="checkPassword" class="form-control">
									<div id="passwordFilled" class="small text-danger d-done">*필수항목입니다.</div>
									<div id="passwordCheck" class="small text-danger d-none">*비밀번호가 정확하지 않습니다.</div>
									<div id="passwordConfirmed" class="small text-success d-none">*확인되었습니다.</div>
								</div>
								<button id="firstConfirmBtn" class="btn btn-info">확인</button>
							</div>
						</td>							
					</tr>
					<tr class="myPageInfo d-none align-middle">
						<th>아이디</th>
						<td><input type="text" id="idBox" class="form-control"></td>
					</tr>
					<tr class="myPageInfo d-none align-middle">
						<th>새 비밀번호</th>
						<td><input type="password" id="passwordBox1" class="form-control"></td>
					</tr>
					<tr class="myPageInfo d-none align-middle">
						<th>비밀번호 확인</th>
						<td><input type="password" id="checkPasswordBox" class="form-control"></td>
					</tr>
					<tr class="myPageInfo d-none align-middle">
						<th>이름</th>
						<td><input type="text" id="nameBox" class="form-control"></td>
					</tr>
					<tr class="myPageInfo d-none align-middle">
						<th>이메일</th>
						<td><input type="text" id="emailBox" class="form-control"></td>
					</tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-end mb-3">
				<button id="modifyBtn" class="btn btn-success">수정하기</button>			
			</div>
		</div>
	</div>
</div>
</section>
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$("#firstConfirmBtn").on('click', function() {
				// alert("인증완료");
				let password = $("#checkPassword").val().trim(); // 입력받은 비밀번호
				
				if (password == "") { // case1) 비밀번호를 아무것도 입력하지 않음
					$("#passwordFilled").removeClass("d-none");
					return false;
				}
				
				// AJAX
				$.ajax({
					// request
					url:"/user/check-password"
					, data:{"password":password}
				
					// response
					, success:function(data) {
						if (data.check_password) {
							$("#passwordFilled").addClass("d-none");
							$("#passwordCheck").addClass("d-none");
							$("#passwordConfirmed").removeClass("d-none");
							$(".myPageInfo").removeClass("d-none");
						} else {
							$("#passwordFilled").addClass("d-none");
							$("#passwordCheck").removeClass("d-none");
						}
					}
					
					, error:function(error) {
						alert("비밀번호 확인에 실패했습니다.");
					}
				});
					
			});
			
			$("#modifyBtn").on('click', function() {
				let id = $("#idBox").val().trim();
				let name = $("#nameBox").val().trim();
				let email = $("#emailBox").val().trim();
				// alert("수정하기");
				alert("수정된 개인정보입니다. \n아이디: " + id + "\n이름: " + name + "\n이메일: " + email);
				
				// ajax update
				// form 
				let formData = new FormData();
				formData.append("id", id);
				formData.append("name", name);
				formData.append("email", email);
				
				// AJAX
				$.ajax({
					// request
					type:"put"
					, url:"/user/update"
					, data:formData
					
					// response
					, success:function(data) {
						if (data.code == 200) {
							alert("개인정보 수정완료.");
							location.href="/post/post-list-view";
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("개인정보를 수정하는데 실패했습니다.");
					}
				});
			});
		});
	</script>
</th:block>
</html>